.jumbotron {
  background-color: pink;
  text-align: center;
}

.row {
  padding-bottom: 100px;
}

#tickets {
  text-align: center;
  
}

#hiddenText {
  padding-top: 250px;
  display: none;
  text-align: center;
}

img {
  margin-top: 100px;
}

.boxmodel-2 {
  font-size: 90px;
  text-align: center;
  background-color: pink;
  font-family: Times,inherit;
  margin-top: 100px;
}
.boxmodel-2 a {
  font-size: 40px;
  font-family: Times,inherit;
  color: black;
}
.boxmodel-2 a:hover{
  color: violet ;
  text-decoration: underline;
}

#link {
  color: violet ;
  text-decoration: underline;
  margin-left: 30px;
}